:root {
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --accent-dark-color: #188ce8;
  --logo-color: #000000;
  --white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --light-bg-color: #f5f4fa;
  --portfolio-item-gap: 30px;
  --icon-light-color: #afb1b8;
  --transion-values: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-color);

  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button {
  min-height: 50px;
  min-width: 200px;
  padding: 10px 30px;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transion-values);
}

.button:hover,
.button:focus {
  background-color: var(--accent-dark-color);
}

.section__heading {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-color);
}

/* Header Section */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

/* Logo styles */

.logo {
  display: block;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-color);
}

.logo--accent {
  color: var(--accent-color);
}

/* Navigation styles */

.nav {
  display: flex;
  align-items: center;
}

.nav__list,
.header__contact-list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__list {
  margin-left: 93px;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: currentColor;
  border-radius: 2px;
}

.header__contact-list {
  margin-left: auto;
}

.nav__list .nav__item:not(:first-child),
.header__contact-list .header__contact-item:not(:first-child) {
  margin-left: 50px;
}

.header__contact-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color);
  transition: color var(--transion-values);
}

.nav__link:hover,
.nav__link:focus,
.header__contact-link:hover,
.header__contact-link:focus {
  color: var(--accent-color);
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero styles */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  color: var(--white-color);

  background-color: var(--dark-bg-color);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__heading {
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero__button {
  background-color: var(--accent-color);
}

/* Features styles */

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
}

.features__item:not(:first-child) {
  margin-left: 30px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--light-bg-color);
}

.features__heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
}

/* Activities styles */

.activities__list {
  display: flex;
  justify-content: space-between;
}

.activities__link {
  position: relative;
}

.activities__text {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Team-list styles */

.team {
  background-color: var(--light-bg-color);
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: 270px;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__heading {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__paragraph {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--secondary-color);
}

.icon__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon__item:not(:first-child) {
  margin-left: 10px;
}

.icon__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--icon-light-color);
  border-radius: 50%;
  transition: color var(--transion-values), background-color var(--transion-values);
}

.icon__link:hover,
.icon__link:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.icon__social {
  fill: currentColor;
}

/* Customers */

.customer__list .icon__item:not(:first-child) {
  margin-left: 30px;
}

.customer__list .icon__link {
  width: 170px;
  height: 92px;

  color: var(--icon-light-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;
  transition: color var(--transion-values), border-color var(--transion-values);
}

.customer__list .icon__link:hover,
.customer__list .icon__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--white-color);
}

.icon__customers {
  fill: currentColor;
}

/* Portfolio section */

.portfolio h1 {
  display: none;
}

/* Filter styles */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter :not(:first-child) {
  margin-left: 8px;
}

.filter-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  background-color: var(--light-bg-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--transion-values), background-color var(--transion-values),
    box-shadow var(--transion-values);
}

.filter-button:hover,
.filter-button:focus,
.filter-button.current {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio styles */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--portfolio-item-gap));
  margin-left: calc(-1 * var(--portfolio-item-gap));
}

.portfolio-item {
  flex-basis: calc (100%/3 - var(--portfolio-item-gap));
  margin-top: var(--portfolio-item-gap);
  margin-left: var(--portfolio-item-gap);

  background: var(--white-color);
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item a {
  transition: box-shadow var(--transion-values);
}

.portfolio-item a:hover,
.portfolio-item a:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item a:hover .portfolio-overlay p,
.portfolio-item a:focus .portfolio-overlay p {
  transform: translateY(0);
  opacity: 1;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay p {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  text-align: left;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--transion-values), opacity var(--transion-values);
}

.portfolio-descriptions {
  padding: 20px 24px;
  /* border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee; */
}

.portfolio-descriptions h2 {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-color);
}

.portfolio-descriptions p {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-color);
}

/* Footer styles */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-bg-color);
}

.footer__container {
  display: flex;
}

.footer__icon-wrapper {
  margin-left: 70px;
  padding-top: 12px;
}

.footer__paragraph {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--white-color);
}

.icon__link--dark {
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--white-color);
}

.address__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address__location {
  display: block;
  transition: color var(--transion-values);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link--white {
  color: var(--white-color);
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.footer__form {
  margin-left: 90px;
  padding-top: 12px;
}

.footer__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 0 16px;
  color: var(--white-color);

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: transparent;
  transition: border-color var(--transion-values);
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.footer__button {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  margin-left: 12px;

  background-color: var(--accent-color);
}

.icon__send {
  margin-left: 10px;
}

/* Modal window */

.backdrope {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform var(--transion-values), visibility var(--transion-values),
    opacity var(--transion-values);
}

.backdrope.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(2);
}

.modal {
  position: absolute;
  width: 530px;
  height: 580px;
  padding: 40px;
  background-color: var(--white-color);
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transion-values);
}

.modal__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal__icon {
  position: absolute;
  bottom: 20px;
  left: 12px;
  transform: translateY(50%);
  fill: var(--primary-color);
  pointer-events: none;
  transition: fill var(--transion-values);
}

.modal__input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal__text-wrap {
  margin-bottom: 20px;
}

.modal__text {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transion-values);
}

.modal__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__text:focus {
  outline: none;
  border-color: var(--accent-color);
}

.checkbox__label {
  display: flex;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal__checkbox:checked + .modal__custom-checkbox {
  background-color: var(--accent-color);
  background-position: center;
  border: var(--accent-color);
}

.modal__custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
  background-color: var(--white-color);
}

.modal__link {
  margin-left: 5px;
  color: var(--accent-color);
  text-decoration-line: underline;
  transition: color var(--transion-values);
}

.modal__link:hover,
.modal__link:focus {
  color: var(--accent-dark-color);
}

.modal__send-button {
  display: block;
  margin: 0 auto;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  cursor: pointer;
}

.modal__iconx {
  fill: var(--logo-color);
  transition: fill var(--transion-values);
}

.modal__close-button:hover .modal-iconx {
  fill: var(--accent-color);
}

/* fonts
logo  Raleway Normal 700
nav   Roboto Normal 500
h1    Roboto Normal 900
h2    Roboto Normal 700
h3    Roboto Normal 700
p     Roboto Normal 400 */
